<!DOCTYPE html>
<html>
  <head>
    <title>SignatureGenerator</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Istok+Web|Righteous" rel="stylesheet">
        <% if Rails.env.development? %>
        <script src="http://localhost:3808/webpack-dev-server.js"></script>
      <% end %>
</head>

  <body>
    <%= yield %>
  <%= javascript_include_tag *webpack_asset_paths('application') %>
</body>
</html>
